<template>
  <div class="info-container">
    <div class="header">
        <!-- <div class="title">{{category | pluralize(category) | capitalize}}</div> -->
        <el-button type="primary" size="small" class="add-button" @click="add"><i class="el-icon-plus"></i></el-button>
    </div>
    
    <el-dialog  :modal="false"
            :title="edit_mode?'Edit Group':'Add Group'"
            :visible.sync="dialogVisible"
            size="large">
        <div class="form_item">
            <label for="group">Group</label>
            <el-input id="group" v-model="group.name"></el-input>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="close">Cancel</el-button>
            <el-button type="primary" @click="process" v-loading="processing">{{edit_mode?"Save":"Add"}}</el-button>
        </span>
    </el-dialog>
    <el-dialog  :modal="true"
            :title="'Manage '+group.name+' Permissions'"
            :visible.sync="mpDialogVisible"
            size="large">
        <div class="top-bar">
            <el-button @click="refreshPermissions">Refresh</el-button>
            <el-select class="permission-selector" v-model="selected_permission" placeholder="Select Permission">
                <el-option
                v-for="item in permissions"
                :key="item.id"
                :label="item.permission"
                :value="item.id">
                </el-option>
            </el-select>
            <el-button type="info" @click="addPermission">Add</el-button>
        </div>
        <div :key="item.permission" class="permission-item" v-for="item in group.permissions">
            <div class="name">{{item.permission}}</div>
            <el-button @click="removePermission(item)" type="primary" size="small" icon="delete"></el-button>
        </div> 
        <span slot="footer" class="dialog-footer">
            <el-button @click="closeMP">Close</el-button>
        </span>
    </el-dialog>
    <div class="info-row">
      <el-table
      :data="lookup_items"
      border>
      <el-table-column
                label="Actions"
                :show-overflow-tooltip=true
                class-name="date_col"
                width="100">
          <template scope="scope">
            <el-button
                    size="small"
                    @click="handleEdit(scope.$index, scope.row)"><i class="el-icon-edit"></i></el-button>
            <el-button
                    size="small"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)"><i class="el-icon-delete"></i></el-button>
          </template>
        </el-table-column>
      <el-table-column
          prop="label"
          width="160"
          label="# Permissions">
            <template scope="scope">
                <el-popover
                    ref="permission_pop"
                    placement="right"
                    width="400"
                    trigger="hover">
                    <div :key="item.permision" v-for="item in scope.row.permissions">
                        - {{item.permission}}
                    </div>
                    </el-popover>
                <el-button type="info" @click="showPermissionManager(scope.row)" v-popover:permission_pop>{{scope.row.permissions.length}}</el-button>
            </template>
        </el-table-column>
        
        <el-table-column
          prop="name"
          label="Name">
        </el-table-column>
        
      </el-table>
    </div>
  </div>
</template>
<script>
  import { mapGetters, mapActions } from 'vuex';
  import _ from 'lodash';
  import moment from 'moment';
  import UserGroup from '../../api/UserGroup';
  import Permission from '../../api/Permission';
  import group from '../lookup_combo.vue';

  export default {
    props: {
    
    },
    computed: {
      ...mapGetters([
        
      ])
    },
    components: {
        group
    },
      created(){
          this.onCreated();
      },
    data() {
        return {
            lookup_items: [],
            permissions: [],
            group: {},
            selected_permission: "",
            dialogVisible: false,
            mpDialogVisible: false,
            edit_mode: false,
            processing: false,
        };
    },
      watch:{
          category: function(value){
              this.getLookups();
          }
      },
    methods: {
        ...mapActions([
        ]),
        async closeMP(){
            this.mpDialogVisible = false;
            await this.getLookups();
        },
        removePermission(data){
            this.edit_mode = true;
            _.remove(this.group.permissions, o=>{return o.id == data.id});
             this.process(false);
        },
        showPermissionManager(data){
            this.selected_permission = ""
            this.group = data;
            this.mpDialogVisible = true;
        },
        async refreshPermissions(){
            try{
                let permission = new Permission(this);
                let response = await permission.list();
                this.permissions = response.data;
            }catch(e){
                console.log(e.stack);
            }
        },
        addPermission(){
            this.edit_mode = true;
            let selected = _.find(this.permissions, o=>{return this.selected_permission == o.id});
            this.group.permissions.push(selected);
            this.process(false);
            this.selected_permission = "";
        },
        onCreated(){
            this.getLookups();
            this.refreshPermissions();
        },
        async getLookups(){
            try{
                //this.lookup_items = [];
                let group = new UserGroup(this);
                let response = await group.list();
                this.lookup_items = response.data;
            }catch(e){
                console.log(e.stack);
            }
        },
        async close(){
            this.dialogVisible = false;
            this.edit_mode = false;
            await this.getLookups();
        },
        async process(refresh = true){
            try{
                let group = new UserGroup(this);
                this.processing = true;
            
                if(!this.edit_mode){
                    await group.create(this.group);
                    this.$message({
                        message: 'SUCCESS, Group was added.',
                        type: 'success'
                    });

                }else{
                  //console.log("Group:",this.group)
                  let obj = _.clone(this.group);
                    obj.permissions =  _.map(obj.permissions, o=>{return o.id});
                    await group.update(this.group.id, obj);
                    this.$message({
                        message: 'SUCCESS, Group was updated.',
                        type: 'success'
                    });
                }
                this.processing = false;
                this.dialogVisible = false
                this.edit_mode = false
                if(refresh){
                    await this.getLookups();
                }
                
            }catch(e){
                console.log(e.stack);
                this.processing = false;
            }
        },
        handleDelete(index, data){
            this.$confirm('Are you sure about deleting this group?')
                .then(async _ => {
                    try{
                      console.log(data.id);
                        let group = new UserGroup(this);
                        this.processing = true;
                        await group.delete(data.id);
                        this.processing = false;
                        await this.getLookups();
                        this.$message({
                            message: 'SUCCESS, Group was deleted.',
                            type: 'success'
                        });
                    }catch(e){
                        console.log(e.stack);
                    }

                })
                .catch(_ => {});
        },
        handleEdit(index, data){
            this.group = data;
            this.dialogVisible = true;
            this.edit_mode = true;
        },
        add(){
            this.group = {
                name: "",
                permissions: [],
                poling_lookup_name: ""
            }
            this.dialogVisible = true;
            this.edit_mode = false;
        },
        formatDateRaw(date){
            return date.length>0?new moment(date).format('L'):"";
        },
        formatDate(date){
            return new moment(date).fromNow();
        }
    }
  }
</script>
<style  lang="scss" scoped>
  .form_item{
    display:flex;
    flex-direction:column;
    padding:5px;
    min-width: 220px;
    label{
      font-weight: normal;
    }

  }

  .top-bar{
      display: flex;
      flex-direction: row;
      .permission-selector{
          padding-left: 5px;
          padding-right: 5px;
          flex-grow: 1;
      }
  }

  .permission-item{
    padding: 8px;
    margin-top: 4px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    .name{
        flex-grow:1;
    }
  }

  .header{
      display: flex;
      flex-direction: row;
      padding: 5px;
      padding-left: 15px;
      .title{
        color: grey;
        flex-grow: 1;
        font-weight: 400;
        font-size: 19px;
      }
  }

  .add-button{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .info-container{
    background-color: white;
    margin-bottom: 10px;
    padding:0px;
    .header{
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .title-bar{
        color: grey;
        font-size: x-large;
        font-weight: 200;
        padding-left: 5px;
      }
    }
  }
</style>
