<template>
  <div class="info-container">
    <div class="header">
        <div class="title">{{category | pluralize(category) | capitalize}}</div>
        <el-button type="primary" size="small" class="add-button" @click="add"><i class="el-icon-plus"></i></el-button>
    </div>
    
    <el-dialog  :modal="false"
            :title="edit_mode?'Edit Lookup':'Add Lookup'"
            :visible.sync="dialogVisible"
            size="large">
        <div class="form_item">
            <label for="id">Value</label>
            <el-input id="id" :disabled="edit_mode" v-model="lookup.value"></el-input>
        </div>
        <div class="form_item">
            <label for="lookup">Label</label>
            <el-input id="lookup" v-model="lookup.label"></el-input>
        </div>
        
        <span slot="footer" class="dialog-footer">
            <el-button @click="close">Cancel</el-button>
            <el-button type="primary" @click="process" v-loading="processing">{{edit_mode?"Save":"Add"}}</el-button>
        </span>
    </el-dialog>
    <div class="info-row">
      <el-table
      :data="lookup_items"
      border>
        <el-table-column
                label="Actions"
                :show-overflow-tooltip=true
                class-name="date_col"
                width="100">
          <template scope="scope">
            <el-button
                    size="small"
                    @click="handleEdit(scope.$index, scope.row)"><i class="el-icon-edit"></i></el-button>
            <el-button
                    size="small"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)"><i class="el-icon-delete"></i></el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="value"
          width="160"
          label="Value">
        </el-table-column>
        <el-table-column
          prop="label"
          label="Label">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
  import { mapGetters, mapActions } from 'vuex';
  import _ from 'lodash';
  import moment from 'moment';
  import Lookup from '../../api/Lookup';
  import lookup from '../lookup_combo.vue';

  export default {
    props: {
        category:{
            type: String,
            required: true
        }
    },
    computed: {
      ...mapGetters([
      ])
    },
    components: {
        lookup
    },
      created(){
          this.onCreated();
      },
    data() {
        return {
            lookup_items: [],
            lookup: {},
            dialogVisible: false,
            edit_mode: false,
            processing: false,
        };
    },
      watch:{
          category: function(value){
              this.getLookups();
          }
      },
    methods: {
        ...mapActions([
            
        ]),
        onCreated(){
            this.getLookups();
        },
        async getLookups(){
            try{
                //this.lookup_items = [];
                let lookup = new Lookup(this);
                let response = await lookup.list({query:`category='${this.category}'`});
                this.lookup_items = response.data;
                console.log(this.lookup_items);
            }catch(e){
                console.log(e.stack);
            }
        },
        async close(){
            this.dialogVisible = false;
            this.edit_mode = false;
            await this.getLookups();
        },
        async process(){
            try{
                let lookup = new Lookup(this);
                this.processing = true;
                this.lookup.category = this.category;
                if(!this.edit_mode){
                    await lookup.create(this.lookup);
                    this.$message({
                        message: 'SUCCESS, Lookup was added.',
                        type: 'success'
                    });

                }else{
                  //console.log("Lookup:",this.lookup)
                    await lookup.update(this.lookup.id, this.lookup);
                    this.$message({
                        message: 'SUCCESS, Lookup was updated.',
                        type: 'success'
                    });
                }
                this.processing = false;
                this.dialogVisible = false
                this.edit_mode = false
                await this.getLookups();
            }catch(e){
                console.log(e.stack);
                this.processing = false;
            }
        },
        handleDelete(index, data){
            this.$confirm('Are you sure about deleting this lookup?')
                .then(async _ => {
                    try{
                      console.log(data.id);
                        let lookup = new Lookup(this);
                        this.processing = true;
                        await lookup.delete(data.id);
                        this.processing = false;
                        await this.getLookups();
                        this.$message({
                            message: 'SUCCESS, Lookup was deleted.',
                            type: 'success'
                        });
                    }catch(e){
                        console.log(e.stack);
                    }

                })
                .catch(_ => {});
        },
        handleEdit(index, data){
            this.lookup = data;
            this.dialogVisible = true;
            this.edit_mode = true;
        },
        add(){
            this.lookup = {
                id: "",
                category: this.category,
                poling_lookup_name: ""
            }
            this.dialogVisible = true;
            this.edit_mode = false;
        },
        formatDateRaw(date){
            return date.length>0?new moment(date).format('L'):"";
        },
        formatDate(date){
            return new moment(date).fromNow();
        }
    }
  }
</script>
<style  lang="scss" scoped>
  .form_item{
    display:flex;
    flex-direction:column;
    padding:5px;
    min-width: 220px;
    label{
      font-weight: normal;
    }

  }

  .header{
      display: flex;
      flex-direction: row;
      padding: 5px;
      padding-left: 15px;
      .title{
        color: grey;
        flex-grow: 1;
        font-weight: 400;
        font-size: 19px;
      }
  }

  .add-button{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .info-container{
    background-color: white;
    margin-bottom: 10px;
    padding:0px;
    .header{
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .title-bar{
        color: grey;
        font-size: x-large;
        font-weight: 200;
        padding-left: 5px;
      }
    }
  }
</style>
