<template>
  <div class="info-container">
    <el-input
    class="search"
        placeholder="Search Lookups"
        icon="search"
        v-model="search_text"
        :on-icon-click="searchClicked">
    </el-input>
    <el-card class="box-card" :key="category" v-for="category in filterBy(categories, search_text)">
        <lookup :category="category"></lookup>
    </el-card>
  </div>
</template>
<script>
    import lookup from './lookup.vue';
    export default {
        name: 'message',
        data: ()=>{
            return{
                users: [],
                search_text: "",
                active_tab: 'users',
                categories: ['permission_categories']
            }
        },
        components:{
            lookup
        },
        computed: {

        },
        methods: {
            searchClicked(){

            }
        }
    }
</script>
<style  lang="scss" scoped>
  .form_item{
    display:flex;
    flex-direction:column;
    padding:5px;
    min-width: 220px;
    label{
      font-weight: normal;
    }

  }

  .search{
      width: 100%;
      margin-bottom: 10px;
  }
  .box-card{
      margin-bottom:10px;
  }

  .add-button{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .info-container{
    background-color: white;
    margin-bottom: 10px;
    padding:5px;
    .header{
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .title-bar{
        color: grey;
        font-size: x-large;
        font-weight: 200;
        padding-left: 5px;
      }
    }
  }
</style>
