<template>
  <div class="info-container">
    <el-button type="primary" class="add-button" @click="add">Add Permission</el-button>
    <el-dialog
            :title="edit_mode?'Edit Permission':'Add Permission'"
            :visible.sync="dialogVisible"
            size="large">
      <div class="form_item">
        <label for="role">Permission</label>
         <el-input id="details" v-model="permission.permission"></el-input>
      </div>
      <div class="form_item">
        <label for="level">Category</label>
        <lookup id="level" category="permission_categories" v-model="permission.category"></lookup>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="close">Cancel</el-button>
        <el-button type="primary" @click="process" v-loading="processing">{{edit_mode?"Save":"Add"}}</el-button>
      </span>
    </el-dialog>
    <div class="info-row">
      <el-table
      :data="permission_items"
      border>
        <el-table-column
                label="Actions"
                :show-overflow-tooltip=true
                class-name="date_col"
                width="180">
          <template scope="scope">
            <el-button
                    size="small"
                    @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
            <el-button
                    size="small"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
          </template>
        </el-table-column>
         <el-table-column
          prop="category"
          width="160"
          label="Category">
        </el-table-column>
        <el-table-column
          prop="permission"
          label="Permission">
        </el-table-column>
       
      </el-table>
    </div>
  </div>
</template>
<script>
  import { mapGetters, mapActions } from 'vuex';
  import _ from 'lodash';
  import moment from 'moment';
  import Permission from '../../api/Permission';
  import lookup from '../lookup_combo.vue';

  export default {
    props: {

    },
    computed: {
      ...mapGetters([
      ])
    },
    components: {
        lookup
    },
      created(){
          this.onCreated();
      },
    data() {
        return {
            permission_items: [],
            permission: {},
            dialogVisible: false,
            edit_mode: false,
            processing: false,
        };
    },
      watch:{
          
      },
    methods: {
        ...mapActions([
            
        ]),
        onCreated(){
            this.getPermissions();
        },
        async getPermissions(){
            try{
                let permission = new Permission(this);
                let response = await permission.list();
                this.permission_items = response.data;
            }catch(e){
                console.log(e.stack);
            }
        },
        async close(){
            this.dialogVisible = false;
            this.edit_mode = false;
            await this.getPermissions();
        },
        async process(){
            try{
                let permission = new Permission(this);
                this.processing = true;
                if(!this.edit_mode){
                    await permission.create(this.permission);
                    this.$message({
                        message: 'SUCCESS, Permission was added.',
                        type: 'success'
                    });

                }else{
                  console.log("Permission:",this.permission)
                    await permission.update(this.permission.id, this.permission);
                    this.$message({
                        message: 'SUCCESS, Permission was updated.',
                        type: 'success'
                    });
                }
                this.processing = false;
                this.dialogVisible = false
                this.edit_mode = false
                await this.getPermissions();
            }catch(e){
                console.log(e.stack);
                this.processing = false;
            }
        },
        handleDelete(index, data){
            this.$confirm('Are you sure about deleting this permission?')
                .then(async _ => {
                    try{
                      console.log(data.id);
                        let permission = new Permission(this);
                        this.processing = true;
                        await permission.delete(data.id);
                        this.processing = false;
                        await this.getPermissions();
                        this.$message({
                            message: 'SUCCESS, Permission was deleted.',
                            type: 'success'
                        });
                    }catch(e){
                        console.log(e.stack);
                    }

                })
                .catch(_ => {});
        },
        handleEdit(index, data){
            this.permission = data;
            this.dialogVisible = true;
            this.edit_mode = true;
        },
        add(){
            this.permission = {
                permission: "",
                category: ""
            }
            this.dialogVisible = true;
            this.edit_mode = false;
        },
        formatDateRaw(date){
            return date.length>0?new moment(date).format('L'):"";
        },
        formatDate(date){
            return new moment(date).fromNow();
        }
    }
  }
</script>
<style  lang="scss" scoped>
  .form_item{
    display:flex;
    flex-direction:column;
    padding:5px;
    min-width: 220px;
    label{
      font-weight: normal;
    }

  }

  .add-button{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .info-container{
    background-color: white;
    margin-bottom: 10px;
    padding:0px;
    .header{
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .title-bar{
        color: grey;
        font-size: x-large;
        font-weight: 200;
        padding-left: 5px;
      }
    }
  }
</style>
