<template>
  <div class="info-container">
    <el-button type="primary" class="add-button" @click="add">Add User</el-button>
    <el-dialog
            :title="edit_mode?'Edit User':'Add User'"
            :visible.sync="dialogVisible"
            size="large">
      <div class="form_item">
        <label for="role">First Name</label>
        <el-input id="details" v-model="user.first_name"></el-input>
      </div>
      <div class="form_item">
        <label for="role">Last Name</label>
        <el-input id="details" v-model="user.last_name"></el-input>
      </div>
      <div class="form_item">
        <label for="role">Email</label>
        <el-input id="details" v-model="user.email"></el-input>
      </div>
      <div class="form_item">
        <label for="constituency">User Group</label>
        <el-select v-model="user_group" placeholder="Select">
            <el-option
            v-for="item in user_groups"
            :key="item.id"
            :label="item.name"
            :value="item.id">
            </el-option>
        </el-select>
      </div>
      <div class="booleans">
        <div class="form_item">
            <label for="constituency">Reset Required</label>
            <el-switch
                v-model="user.reset_required"
                on-color="#13ce66"
                on-text="YES"
                off-text="NO"
                off-color="#ff4949">
                </el-switch>
        </div>
        <div class="form_item">
            <label for="constituency">Generate Password
            </label>
            <el-switch
                v-model="use_generated_password"
                on-color="#13ce66"
                on-text="YES"
                off-text="NO"
                off-color="#ff4949">
                </el-switch>
        </div>
        <div class="form_item">
            <label for="constituency">Send Welcome</label>
            <el-switch
                v-model="send_welcome"
                on-color="#13ce66"
                on-text="YES"
                off-text="NO"
                off-color="#ff4949">
                </el-switch>
        </div>
      </div>
      
      <div v-if="!use_generated_password && !edit_mode" class="form_item">
        <label for="role">Password</label>
        <el-input id="details" v-model="user.password"></el-input>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="close">Cancel</el-button>
        <el-button type="primary" @click="process" v-loading="processing">{{edit_mode?"Save":"Add"}}</el-button>
      </span>
    </el-dialog>
    <div class="info-row">
      <el-table
      :data="user_items"
      border>
        <el-table-column
                label="Actions"
                :show-overflow-tooltip=true
                class-name="date_col"
                width="100">
          <template scope="scope">
            <el-button
                    size="small"
                    @click="handleEdit(scope.$index, scope.row)"><i class="el-icon-edit"></i></el-button>
           
                    <el-popover
                        ref="action"
                        placement="right"
                        width="400"
                        trigger="click">

                        <el-button
                            size="small"
                            type="info"
                            @click="handleResetPassword(scope.$index, scope.row)">Reset Password</el-button>
                        <el-button
                            size="small"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                        </el-popover>
            <el-button v-popover:action
                    size="small"
                    type="info"><i class="el-icon-more"></i></el-button>
          </template>
        </el-table-column>
         <el-table-column
          prop="first_name"
          width="160"
          label="First Name">
        </el-table-column>
        <el-table-column
          prop="last_name"
          width="160"
          label="Last Name">
        </el-table-column>
        <el-table-column
          prop="email"
          width="250"
          label="Email">
        </el-table-column>
        <el-table-column
          prop="reset_required"
          width="200"
          label="Reset Required">
           <template scope="scope">
               {{scope.row.reset_required}}
           </template>
        </el-table-column>
        <el-table-column
          prop="group.name"
          label="Group">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
  import { mapGetters, mapActions } from 'vuex';
  import _ from 'lodash';
  import moment from 'moment';
  import User from '../../api/User';
  import UserGroup from '../../api/UserGroup';
  import lookup from '../lookup_combo.vue';

  export default {
    props: {

    },
    computed: {
      ...mapGetters([
      ])
    },
    components: {
        lookup
    },
      created(){
          this.onCreated();
      },
    data() {
        return {
            user_items: [],
            user_groups: [],
            user_group:"",
            user: {},
            dialogVisible: false,
            edit_mode: false,
            processing: false,
            use_generated_password: true,
            send_welcome: true
        };
    },
      watch:{
      },
    methods: {
        ...mapActions([
        ]),
        onCreated(){
            this.getUsers();
            this.getUserGroups();
        },
        async getUsers(){
            try{
                let user = new User(this);
                let response = await user.list();
                //response.data = _.map(response.data, o=>{o.reset_required = o.reset_required == "true"; return o});
                this.user_items = response.data;
                console.log("Users", response);
            }catch(e){
                console.log(e.stack);
            }
        },
        async getUserGroups(){
            try{
                let user_group = new UserGroup(this);
                let response = await user_group.list();
                this.user_groups = response.data;
                console.log("User Groups", this.user_groups);
            }catch(e){
                console.log(e.stack);
            }
        },
        async close(){
            this.dialogVisible = false;
            this.edit_mode = false;
            await this.getUsers();
        },
        async process(){
            try{
                let user = new User(this);
                this.processing = true;
                this.user.group = _.find(this.user_groups, o=>{return o.id == this.user_group});
                
                if(this.user.password == ""){//delete password property if left blank
                    delete this.user.password;
                }
                let obj = _.clone(this.user);
                obj.group = this.user_group;
                if(!this.edit_mode){
                    if(this.use_generated_password){
                        var generatePassword = require('password-generator');
                        obj.password = generatePassword();
                    }
                    obj.send_welcome = this.send_welcome;
                    await user.create(obj);
                    this.$message({
                        message: 'SUCCESS, User was added.',
                        type: 'success'
                    });
                }else{
                    await user.update(this.user.id, obj);
                    this.$message({
                        message: 'SUCCESS, User was updated.',
                        type: 'success'
                    });
                }
                this.processing = false;
                this.dialogVisible = false
                this.edit_mode = false,
                
                await this.getUsers();
            }catch(e){
                let validation_messages = ""
                let sendError = _.throttle(this.sendErrorMessage, 100);
                if(e.response.status == 422){
                    validation_messages  = _.map(e.response.data,o=>{
                        return o
                    })

                    _.each(validation_messages, m=>{
                        sendError(m);
                    })
                }else{
                    validation_messages = e.response.statusText
                    this.$message({
                        message: 'FAILURE, Operation failed.',
                        type: 'error'
                    });
                }
                
                console.log("error: ",validation_messages);
                this.processing = false;
                
            }
        },

        sendErrorMessage(m){
            this.$notify({
                title: "Validateion Error",
                message: m[Object.keys(m)[0]].message,
                type: 'error'
            });
        },

        handleDelete(index, data){
            this.$confirm('Are you sure about deleting this user?')
                .then(async _ => {
                    try{
                        let user = new User(this);
                        this.processing = true;
                        await user.delete(data.id);
                        this.processing = false;
                        await this.getUsers();
                        this.$message({
                            message: 'SUCCESS, User was deleted.',
                            type: 'success'
                        });
                    }catch(e){
                        this.$message({
                            message: 'ERROR, deletion was unsucessful.',
                            type: 'error'
                        });
                    }

                })
                .catch(_ => {});
        },

        handleResetPassword(index, data){
            this.$confirm("Are you sure about resetting this user's account?")
                .then(async _ => {
                    try{
                      
                        let user = new User(this);
                        await user.send_reset_password_request(data.email);
                        this.$message({
                            message: 'SUCCESS, password reset email was sent to user.',
                            type: 'success'
                        });
                    }catch(e){
                        console.log(e.stack);
                        this.$message({
                            message: 'ERROR, password reset was unsucessful.',
                            type: 'error'
                        });
                    }

                })
                .catch(_ => {});
        },
        handleEdit(index, data){
            this.user_group = data.group.id;
            data.reset_required = data.reset_required;
            this.user = data;
            this.dialogVisible = true;
            this.edit_mode = true;
        },
        add(){
            this.user = {
                email: "",
                last_name: "",
                first_name: "",
                group: "",
                reset_required: true,
                password: ""
            }
            this.dialogVisible = true;
            this.edit_mode = false;
        },
        formatDateRaw(date){
            return date.length>0?new moment(date).format('L'):"";
        },
        formatDate(date){
            return new moment(date).fromNow();
        }
    }
  }
</script>
<style  lang="scss" scoped>
  .form_item{
    display:flex;
    flex-direction:column;
    padding:5px;
    min-width: 220px;
    label{
      font-weight: normal;
    }
  }

    .booleans{
        display:flex;
        flex-direction: row;
        .form_item{
            display:flex;
            flex-direction:column;
            padding:5px;
            min-width: 220px;
            label{
            font-weight: normal;
            }
        }
    }
  .add-button{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .info-container{
    background-color: white;
    margin-bottom: 10px;
    padding:0px;
    .header{
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .title-bar{
        color: grey;
        font-size: x-large;
        font-weight: 200;
        padding-left: 5px;
      }
    }
  }
</style>
