body {
    height: 100%;
}

.app-section{
    height: 100%;
}

.drop_shadow{
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

html {
    height:100%;
    background-color: #F8F8F8;
    overflow: auto;
}

.app-holder{
    display: flex;
    flex-direction: column;
    height: 100%;
    .navigation{
        
    }
    .app-content{
        height: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        overflow-y: auto;
    }
}
#app{
    height: 100%;
    display: flex;
}
#spice{
    width: 100%;
}

.profile-pic{
    margin: 5px;
}

.router-link-active{
    background-color: #f3f3f3;
}

