{% extends '../master.html' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <h1>${ error.status }</h1>
      <p> Something bad happened! <a href="/">Go Back</a> </p>
      <div>
        <H2>Error Stack</H2>
        <div class="__stack">${error.stack}</div>
      </div>
    </div>
  </div>
{% endblock %}
