<template>
    <form class="loginbox" v-loading="loading"
    element-loading-text="Authenticating..." novalidate @submit.stop.prevent="submit">
        <div class="form_item">
            <label>Email Address</label>
            <el-input v-model="auth.username"></el-input>
        </div>
        <div class="form_item">
            <label>Password</label>
            <el-input v-model="auth.password"></el-input>
        </div>
        <div class="form_item">
            <label>Password Confirmation</label>
            <el-input v-model="auth.password_confirmation"></el-input>
        </div>
        <div v-if="!passwords_match">Passwords do not match.</div>
        <div class="wrong-password" v-if="show_bad_auth">We are sorry, we are unable to reset your password please ensure that you typed your email address correctly.</div>
        <el-button class="submit" type="primary" v-on:click.native="doLogin"><span v-if="!loading">Reset Password</span></el-button>
    </form>
</template>
<script>
    import User from '../api/User';
    export default {
        name: 'login',
        props: ['message'],
        data: ()=>{
            return {
                loading: false,
                show_bad_auth: false,
                auth:{
                    username: '',
                    password: '',
                    password_confirmation: ''
                }
            }   
        },
        computed: {
            passwords_match(){
                return this.auth.password_confirmation == this.auth.password
            },
            validated(){
                return (this.auth.username != '' && this.auth.password != '') && (this.auth.password == this.auth.password_confirmation);
            }
        },
        methods:{
            async doLogin(){
                try{
                    if(this.auth.password_confirmation == this.auth.password) {
                        this.loading = true;
                        this.show_bad_auth = false;
                        let post_data = {
                            email: this.auth.username,
                            password: this.auth.password
                        }
                        let user = new User(this);
                        //console.log(config.api_url+config.auth_path);
                        post_data.token = this.$route.params.token;
                        let forget_response = await user.send_reset_password(post_data)

                        let response = await user.authenticate(post_data);
                        let auth_user = {
                            token: response.token,
                            data: response.data
                        };
                        window.localStorage.setItem('auth_user',JSON.stringify(auth_user));
                        this.$store.dispatch('set_user_object', auth_user);
                        this.$router.push({name:'home'});
                    }
                }catch(e){
                    this.loading = false;
                    this.show_bad_auth = true;
                    console.log(e.stack);
                }
            }
        }
    }
</script>
<style  lang="scss" scoped>
    body {
        background: #2B3238;
    }

    .loginbox {
        width: 50%;
        height: auto;
        margin: auto;
        margin-top: 10%;
        border-width: thin;
        border-color: #1b6d85;
        max-width: 400px;
        padding:20px;
        background-color: #f7f7f7;
        border-radius: 5px;
        padding-top: 30px;
        
    }

     .form_item{
        display:flex;
        flex-direction:column;
        padding:5px;
        min-width: 220px;
        label{
            font-weight: normal;
        }
    }

    .submit{
        margin-top:10px;
        width:100%;
    }

    .password{
        margin-top:15px;
    }

    .email{

    }

    .wrong-password{
        font-family: sans-serif;
        font-size: small;
        padding: 10px;
        color: #c56a6a;
    }

</style>