<template>
    <div>
        HOME
    </div>
</template>
<script>
    export default {
        name: 'message',
        data: ()=>{
            return{
                users: []
            }
        }
    }
</script>
<style scoped>
    li{
        color:green;
    }
</style>