<template>
    <form class="loginbox" v-loading="loading"
    element-loading-text="Authenticating..." novalidate @submit.stop.prevent="submit">
        <el-input class="email" placeholder="Email" v-model="auth.username"></el-input>
        <el-input class="password" placeholder="Password" type="password" v-model="auth.password"></el-input>
        <div class="wrong-password" v-if="show_bad_auth">We are sorry, your login credentials are incorrect</div>
        <el-button class="submit" type="primary" v-on:click.native="doLogin"><span v-if="!loading">Sign In</span></el-button>
        <router-link class="forgot-password" :to="{name:'resetrequest'}">
               Forgot password?
        </router-link>
    </form>
</template>
<script>
    import User from '../api/User';
    export default {
        name: 'login',
        props: ['message'],
        data: ()=>{
            return {
                loading: false,
                show_bad_auth: false,
                auth:{
                    username:'',
                    password:''
                }
            }
        },
        methods:{
            async doLogin(){
                try{
                    this.loading = true;
                    this.show_bad_auth = false;
                    let post_data = {
                        email: this.auth.username,
                        password: this.auth.password
                    }
                    let user = new User();
                    let response = await user.authenticate(post_data);
                    let auth_user = {
                        token: response.token,
                        data: response.data
                    };
                    window.localStorage.setItem('auth_user',JSON.stringify(auth_user));
                    this.$store.dispatch('set_user_object', auth_user);
                    this.$router.push({name:'home'});
                }catch(e){
                    this.loading = false;
                    this.show_bad_auth = true;
                    console.log(e.stack);
                }
            }
        }
    }
</script>
<style  lang="scss" scoped>
    body {
        background: #2B3238;
    }

    .loginbox {
        width: 25%;
        height: auto;
        margin: auto;
        margin-top: 10%;
        border-width: thin;
        border-color: #1b6d85;
        max-width: 400px;
        padding:20px;
        background-color: #f7f7f7;
        border-radius: 5px;
        padding-top: 30px;
        
    }

    .forgot-password{
        color:#1b6d85
    }

    .submit{
        margin-top:10px;
        width:100%;
    }

    .password{
        margin-top:15px;
    }

    .email{

    }

    .wrong-password{
        font-family: sans-serif;
        font-size: small;
        padding: 10px;
        color: #c56a6a;
    }

</style>