<template>
    <div class="banner__inner">
        <H1>{{getAuthUser.data.first_name}} {{getAuthUser.data.last_name}}</H1>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
    export default {
        name: 'message',
        data: ()=>{
            return{
                users: []
            }
        },
        computed: {
            ...mapGetters([
                'getAuthUser'
            ])
        }
    }
</script>
<style scoped>
    li{
        color:green;
    }
</style>