<template>
    <form class="loginbox" v-loading="loading"
    element-loading-text="Resetting password..." novalidate @submit.stop.prevent="submit">
        <div class="form_item">
            <label>Email</label>
            <el-input v-model="auth.email"></el-input>
        </div>
        <div class="form_item">
            <label>Current Password</label>
            <el-input type="password" v-model="auth.current_password"></el-input>
        </div>
        <div class="form_item">
            <label>New Password</label>
            <el-input type="password" v-model="auth.new_password"></el-input>
        </div>
        <div class="form_item">
            <label>New Password Confirmation</label>
            <el-input type="password" v-model="auth.new_password_confirmation"></el-input>
        </div>
        <div v-if="!passwords_match">Passwords do not match.</div>
        <div class="wrong-password" v-if="show_bad_auth"></div>
        <div class="buttons">
            <el-button class="submit-button" type="default" @click="back">Cancle</el-button>
            <el-button class="submit-button" type="info" @click="resetPassword"><span v-if="!loading">Submit</span></el-button>
        </div>
    </form>
</template>
<script>
    import User from '../api/User'
    export default {

        name: 'resetpassword',
        data: ()=>{
            return {
                loading: false,
                show_bad_auth: false,
                show_no_match: false,
                auth:{
                    email:'',
                    current_password:'',
                    new_password:"",
                    new_password_confirmation: ""
                }
            }
        },
        computed: {
            passwords_match(){
                return this.auth.new_password_confirmation == this.auth.new_password
            },
            validated(){
                return (this.auth.email != '' && this.auth.current_password != '' && this.auth.new_password != '') && (this.auth.new_password == this.auth.new_password_confirmation);
            }
        },
        created(){
            this.auth.email = JSON.parse(window.localStorage.getItem('auth_user')).data.email
        },
        methods:{
            back(){
                this.$router.go(-1);
            },
            async resetPassword(){
                try{
                    if(this.auth.new_password_confirmation == this.auth.new_password) {
                        let user = new User(this);
                        this.loading = true;
                        this.show_bad_auth = false;
                        this.show_no_match = false;
                        
                        let results = await user.reset_password({
                            email: this.auth.email,
                            new_password: this.auth.new_password,
                            old_password: this.auth.current_password
                        })
                        console.log("updated user", results)
                        updateUser(results.data);
                        //console.log("After password reset: ",results);
                        this.$message({
                            message: 'Congrats, your password reset was sucessful.',
                            type: 'success'
                        });
                        this.loading = false;
                        if(JSON.parse(window.localStorage.getItem('auth_user'))){
                            this.$router.push({name:'home'});
                        }else{
                            this.$router.push({name:'login'});
                        }
                    }
                    
                }catch(e){
                    console.log(e, e.stack)
                    this.loading = false;
                    this.show_bad_auth = true;
                    this.$message.error('Oops, we were unable to reset your password. Please ensure that your current email address and password is entered correctly');
                }


            }
        }
    }
</script>
<style lang="scss" scoped>
    body {
        background: #2B3238;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    .wrong-password{
        color: red;
    }

    .loginbox {
        width: 50%;
        height: auto;
        margin: auto;
        margin-top: 10%;
        border-width: thin;
        border-color: #1b6d85;
        max-width: 400px;
        padding:20px;
        background-color: #f7f7f7;
        border-radius: 5px;
    }

    .form_item{
        display:flex;
        flex-direction:column;
        padding:5px;
        min-width: 220px;
        label{
            font-weight: normal;
        }
    }

    .submit-button{
        width: 100%;
    }
</style>