<template>
    <form class="loginbox" v-loading="loading"
    element-loading-text="Resetting password..." novalidate @submit.stop.prevent="submit">
        <div class="form_item">
            <label>Email</label>
            <el-input v-model="email"></el-input>
        </div>
        <div class="buttons">
            <el-button class="submit-button" type="default" @click="back">Cancle</el-button>
            <el-button class="submit-button" type="info" @click="resetPassword"><span v-if="!loading">Submit</span></el-button>
        </div>
    </form>
</template>
<script>
    import User from '../api/User'
    export default {

        name: 'resetpassword',
        data: ()=>{
            return {
                loading: false,
                email: ""
            }
        },
        
        created(){
            
        },
        methods:{
            back(){
                this.$router.go(-1);
            },
            async resetPassword(){
                try{
                    let user = new User(this);
                    this.loading = true;
                    
                    let results = await user.send_reset_password_request(this.email)
                    this.$message({
                        message: 'Congrats, your password reset reset request has been sent',
                        type: 'success'
                    });
                    this.loading = false;
                    this.$router.push({name:'login'});
                    
                }catch(e){
                    console.log(e, e.stack)
                    this.loading = false;
                    this.$message({
                        message: 'Congrats, your password reset reset request has been sent',
                        type: 'success'
                    });
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    body {
        background: #2B3238;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    .wrong-password{
        color: red;
    }

    .loginbox {
        width: 50%;
        height: auto;
        margin: auto;
        margin-top: 10%;
        border-width: thin;
        border-color: #1b6d85;
        max-width: 400px;
        padding:20px;
        background-color: #f7f7f7;
        border-radius: 5px;
    }

    .form_item{
        display:flex;
        flex-direction:column;
        padding:5px;
        min-width: 220px;
        label{
            font-weight: normal;
        }
    }

    .submit-button{
        width: 100%;
    }
</style>