<template>
    <div class="banner__inner">
        <el-tabs v-model="active_tab">
            <el-tab-pane label="Users" name="users"><user></user></el-tab-pane>
            <el-tab-pane label="Groups" name="groups"><group></group></el-tab-pane>
            <el-tab-pane label="Permissions" name="permissions"> <permission></permission></el-tab-pane>
            <el-tab-pane label="Lookups" name="lookups"><lookup_box></lookup_box></el-tab-pane>
        </el-tabs>
        <!-- <el-menu :default-active="activeIndex2" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1"><router-link class="navbar-item" to="users">Users</router-link></el-menu-item>
            <el-menu-item index="2"><router-link class="navbar-item" to="user_groups">User Groups</router-link></el-menu-item>
            <el-menu-item index="3"><router-link class="navbar-item" to="permissions">Permissions</router-link></el-menu-item>
            <el-menu-item index="4"><router-link class="navbar-item" to="lookups">Lookups</router-link></el-menu-item>
        </el-menu>
        <router-view></router-view> -->
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
    import permission from '../components/settings/permission'
    import lookup_box from '../components/settings/lookup_box'
    import group from '../components/settings/group'
    import user from '../components/settings/user'
    export default {
        name: 'message',
        data: ()=>{
            return{
                users: [],
                active_tab: 'users'
            }
        },
        components:{
            permission,
            lookup_box,
            group,
            user
        },
        computed: {
            ...mapGetters([
                'getAuthUser'
            ])
        }
    }
</script>
<style scoped>
    li{
        color:green;
    }
    .menu-style{
        border-radius: 0px;
    }
</style>