<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/css/app.css">
  <title>Spicejs Node.Js MVC Framework based on Koa.js</title>
</head>
<body>

  <section class="app-section">
    <div  id="app">
      {% block content %}

      {% endblock %}

      {% block footer %}
      {% endblock %}
    </div> 
  </section>
  <script src="/js/manifest.js"></script>
  <script src="/js/vendor.js"></script>
  <script src="/js/app.js"></script>
  <!-- <script src="http://localhost:8080/js/app.js"></script> -->
</body>
</html>
