<template>
    <div class="app-holder">
        <Navigation class="navigation drop_shadow"></Navigation>
        <router-view class="app-content"></router-view>
        
    </div>
</template>
<script>
    import Navigation from './components/navigation.vue';
    import { mapGetters } from 'vuex';
    export default {
        components:{
            Navigation
        },
        computed: {
            ...mapGetters([
                'getAuthUser'
            ])
        },
        created(){
            const userObj = JSON.parse(window.localStorage.getItem('auth_user'));
            this.$store.dispatch('set_user_object', userObj)

           /* const menu = JSON.parse(window.localStorage.getItem('selected_menu'));
            this.$store.dispatch('change_selected_menu', menu);*/
        }
    }
</script>
<style scoped>

</style>