<template>
  <div class="main-holder">
    <el-select class="input-box" v-model="selection" :multiple="multiple" :size="size" filterable clearable @change="onSelectionChanged" placeholder="Select">
      <el-option
              v-for="item in lookups"
              :key="item.value"
              :label="item.label"
              :value="item.value">
      </el-option>
    </el-select>
    <i v-if="loading" v-show="show_refresh==true" class="el-icon-loading"></i>
    <a v-if="!loading" v-show="show_refresh==true" @click="refreshClick()" class="refresh_icon" type="refresh"><i class="el-icon-search"></i></a>
  </div>
</template>
<script>
  import _ from 'lodash';
  import moment from 'moment';
  import Lookup from '../api/Lookup'
  export default {
    props: {
        category:{
            required: true,
            type: String
        },
        show_refresh:{
            required: false,
            type: Boolean,
            default: false
        },
        multiple:{
            required: false,
            type: Boolean,
            default: false
        },
        value:{

        },
        size:String
    },
      created(){
        this.getLookups();
        this.selection = this.value;
        this.rendered = true;
    },

    watch : {
        value : function (value) {
            this.selection = value;
        }
    },
    computed: {

    },
    components: {

    },
    data() {
        return {
            selection:'',
            lookups: [],
            loading: false
        }
    },
    methods: {
        async getLookups()
        {
            try{
                this.lookups = []
                let lookup = new Lookup(this);
                this.loading = true;
                let response = await lookup.list_by_category(this.category);
                this.lookups = response.data;
                this.loading = false;
            }catch(e){
                console.log(e.stack);
                this.loading = false;
            }


        },
        refreshClick(){
           this.getLookups();
        },
        onSelectionChanged(value){
            this.$emit("input",this.selection);
        }
    }
  }
</script>
<style  lang="scss" scoped>
  .main-holder{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-content: center;
  }
  .input-box{
    margin-right: 5px;
  }
  .refresh_icon{
    color: #d8d8d8;
  }
  .refresh_icon:hover{
    color: #7b7b7b;
  }
</style>
