<template>
  <div class="main-holder">
    <span>{{label}}</span>
   </div>
</template>
<script>
  import _ from 'lodash';
  import moment from 'moment';
  import Lookup from '../api/Lookup'
  export default {
    props: {
        category:{
            required: true,
            type: String
        },
        show_refresh:{
            required: false,
            type: Boolean,
            default: true
        },
        value:String,
        size:String
    },
      created(){
        this.getLookups();
        this.selection = this.value;
        this.rendered = true;
    },

    watch : {
        value : function (value) {
            this.selection = value;
            this.getSelectionLabel();
        }
    },
    computed: {

    },
    components: {

    },
    data() {
        return {
            selection:'',
            lookups: [],
            loading: false,
            label: ""
        }
    },
    methods: {
        async getLookups()
        {
            try{
                this.lookups = []
                let lookup = new Lookup(this);
                this.loading = true;
                let response = await lookup.list_by_category(this.category);
                this.lookups = response.data;
                this.getSelectionLabel();
                this.loading = false;
            }catch(e){
                console.log(e.stack);
                this.loading = false;
            }
        },
        getSelectionLabel(){
            let that = this;
          let item = _.find(this.lookups, function(o){return o.value == that.selection});
          if(item) {
              this.label = item.label;
          }else{
              this.label = this.selection;
          }
        },
        refreshClick(){
           this.getLookups();
        },
        onSelectionChanged(value){
            this.$emit("input",this.selection);
        }
    }
  }
</script>
<style  lang="scss" scoped>
  .main-holder{
      display: inline-block
  }
  .input-box{
    margin-right: 5px;
  }
  .refresh_icon{
    color: #d8d8d8;
  }
  .refresh_icon:hover{
    color: #7b7b7b;
  }
</style>
