<template>
    <div class="navbar" v-if="loggedIn">
        <div class="navbar-brand">
            <router-link class="navbar-item " to="home">
                <span class="logo">SPICE</span>
            </router-link>
            <router-link class="navbar-item" :to="{name:'home'}">
                Home
            </router-link>
            <router-link class="navbar-item " to="sample1">
                Page 1
            </router-link>
            <router-link v-if="showSample2" class="navbar-item " to="sample2">
                Sample page 2
            </router-link>
            <div class="navbar-burger burger" data-target="navMenubd-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-end">
             <router-link v-if="showSettings" class="navbar-item " to="setting">
                <i class="el-icon-setting"></i>
            </router-link>
            <v-gravatar :email="getAuthUser.data.email" default-img="404" :size="40" class="profile-pic"/>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {{getAuthUser.data.first_name}} {{getAuthUser.data.last_name}}
                </a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item">
                        Profile
                    </a>
                    <a class="navbar-item" @click="resetPassword">
                        Reset Password
                    </a>
                    <hr class="navbar-divider">
                    <div class="navbar-item" @click="logout">
                        Logout
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Avatar from 'vue-avatar/dist/Avatar'
    import { mapGetters } from 'vuex';
    export default {
        computed: {
            ...mapGetters([
                'getAuthUser',
                'getPermissions'
            ]),
            loggedIn(){
                return this.getAuthUser != null && this.getAuthUser.token && this.$route.name != 'forget_password' && this.$route.name != 'reset';
            },

            showSettings(){
                console.log('checking');
               return hasPermission('can_manage_settings');
            },
            
            showSample2(){
               return hasPermission('can_load_sample_2');
            }
        },
        components: {
            Avatar
        },
        created(){

        },
        data() {
            return {
                activeIndex: '1'
            };
        },
        methods: {
            logout(){
                window.localStorage.removeItem('auth_user');
                this.$store.dispatch('set_user_object', null);
                this.$router.push({name:'login'});
            },
            /* openSetting(){
                this.$router.push({name:'setting'});
            }, */
            resetPassword(){
                this.$router.push({name:'reset'});
            },
            goToHome(){
                navigate('home');
            },
            goToProfile(){
                navigate('profile');
            },
            handleSelect(key, keyPath) {
                console.log(key);
                switch(key){
                    case `1`:{
                        this.goToHome()
                        break;
                    }
                    case `2-1`:{
                        this.goToProfile();
                        break;
                    }
                    case `2-2`:{
                        this.logout();
                        break;
                    }
                }
            }
        }
    }
</script>
<style scoped>

</style>